.body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.body li,
.body ul,
.body ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.body .card {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 10px;
  background-color: #ff0404c7;
}
.body .card .input {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.body .card .input button,
.body .card .input input {
  padding: 10px;
}
.body .card .input input {
  width: 80%;
}
.body .card .lista {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.body .card .lista .item {
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: #ffffff30;
  padding: 10px;
}
