<div class="body">
    <section class="card">
        <div class="input">
            <input type="text" [(ngModel)]="currentValue" (keyup)="handleEnter($event)">
            <button class="button-task" (click)="addTask()">Add</button>
        </div>
        <ul *ngFor="let task of tasks" class="lista">
            <li [ngClass]="{'completed':task.completed}" class="item">
                {{task.description}}
                <div class="comandos">
                    <button class="complete-task" (click)="completeTask(task.id)">Complete</button>
                    <button class="delete-task" (click)="deleteTask(task.id)">Delete task</button>
                </div>
            </li>
        </ul>
    </section>
</div>